<h2 id="timebox-work-accountably">Timebox work, accountably</h2>

<p>Now, next, later - but with dates. Work iteratively, in time-limited cycles.</p>

<p>Break work up into achievable bits.</p>

<h2 id="commit-responsibly-to-future-plans">Commit responsibly to future plans</h2>

<p>Things in “next” aren’t in “now” until the situation demands it - and you decide that it does.</p>

<p>But a space to reference, and plan for, longer term goals.</p>

<h2 id="roadmaps-that-work-on-mobile">Roadmaps that work on mobile</h2>

<p>No left to right scrolling. Time flows vertically down the page.</p>

<p>Your audience are busy people. They should be able to look at your plan on the bus.</p>

<h2 id="the-panopticon-is-an-anti-pattern">The panopticon is an anti-pattern</h2>

<p>Separate your team’s work in progress board from your long term planning documents.</p>

<p>Specificly link to the board you look at in standup, if people want to see that - but it’s not a data source to power your roadmap.</p>

<h2 id="tools-should-not-get-in-your-way">Tools should not get in your way</h2>

<p>Three lists of things you want to do: now, next, and later. (And some dates).</p>

<p>The rest is up to you.</p>

<p><a href="/guff">Read more guff</a></p>
