<div class="warning">
	<p>
		This is a public prototype. <strong>Everything you put into this tool is public on the internet.</strong> Don't enter personal information, bank details, or commercially sensitive business plans.
	</p>
</div>