<div class="longform_content_container">

<h1>
	Roadmap tool
</h1>

<p>
	An opinionated tool for creating product team roadmaps.
</p>

<p>
	What do you want to do?
</p>

<p>
	<a href="/roadmaps/new">Create a new roadmap</a>
</p>

<p>
	<a href="/roadmaps">Use an existing roadmap</a>
</p>

<%= erb :_statement_summary %>

</div>